.playlist-card{
    width:16rem;
    height: 11rem;
    border: 0.1rem solid var(--bg-color);
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.playlist-card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.playlist-thumbnail{
    border-radius: 0.25rem;
    height:8rem;
    position: relative;

}

.playlist-number{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:grey;
    width:6rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.playlist-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding:0.5rem;  
}

