.homepage-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0rem;
    padding: 2rem 0rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.hero-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 60rem;
    height: 30rem;
    margin: 1rem;
}

.hero-para{
    width:15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.hero-title{
    font-size:1.5rem;
    margin:0rem;
    padding:0rem;
}

.hero-description{
    font-size:1rem;
    text-align:center;
}

.hero-button{
    width:10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero-button:hover{
    background-color: var(--hover-color);
}

.hero-img{
    width: 30rem;
    border-radius: 0.5rem;
}

.hr{
    color: var(--text-color);
    width: 80rem;
    border:0.05rem solid var(--text-color);
}

.homepage-category-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80rem;
    margin:1rem 0rem;
}

.categories-title{
    font-size:3rem;
    margin: 0.5rem;
}

.homepage-categories{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.category-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 30rem;
    height: 15rem;
    margin: 1rem 0rem;
    padding: 1rem;
    border:0.1rem solid var(--text-color)
}

.category-para{
    width:15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.category-title{
    font-size:1.5rem;
    margin:0rem;
    padding:0rem;
}

.category-description{
    font-size:1rem;
    text-align:center;
}

.category-button{
    width:10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.category-button:hover{
    background-color: var(--hover-color);
}

.category-img{
    width: 15rem;
    border-radius: 0.5rem;
}